# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.Python

# Virtual envs
venv/
.venv/

# Env files
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build
build/
dist/
